@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins'  sans-serif;
    box-sizing: border-box;
    color: #fff;
    
}

body{
background: linear-gradient(35deg,#484848,70%,green);
height: 100vh;

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 50px;
    z-index: 20;
}

}
.header img{    
    height: 120px;
    scale: .9;
    filter: saturate(3);
    transition: .5s ease;

}
.header img:hover{ 
    filter: saturate(3);
    scale: 1.50;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    
}
.navbar a::before{
    content: "";
    height: 100%;
    width: 100%;
    border-bottom: 5px solid #e7eeec;
    position: absolute;
    left: 0;
    top: 0;
    transition: 2s ease  ;
    opacity: 0;
    z-index: -1;
}
.navbar a:hover::before{
  top: 0;
  opacity: 1;
}
.sticky{
    background: linear-gradient(35deg,#484848,70%,green);
    border-bottom: 2px solid rgba(255,255,255,.2);
}
section{
    padding: 10rem 9% 2rem;
    height: 100vh;
    width: 100%;

}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.text-content{
    max-width: 600px;
}
.text-content h2{   
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;       
    font-family: "Times New Roman", Times, serif;   
}

.text-content span{
    font-size: 20px;
    color: rgb(244, 244, 5);   
    
  
}
.text-content p{
    font-size: 15px;
    margin-bottom: 40px;
    line-height: normal;
    font-weight: normal;
  
}

button{
    margin: 20px 0;
    
}   

.btn{

    height: 40px;   
    width: 150px;
    background: transparent;
    border-radius: 10px;
    margin: 0 1px;
    cursor: pointer;
    font-size: 16px;    
    font-weight: 500;
    border: 2px solid rgb(9, 185, 26);
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
   content: "";
   position: absolute;
   height: 300%;
   width: 100%;
   left: 0;
   top: -100%;
   background: linear-gradient(#484848,green,#484848,green);
   transition: .5s ease  ;
   z-index: -1; 
}

.btn:hover:before {
   top: 0;
}
.home .imageSet1 img{
    height: 400px;
    position: absolute;
    transform: translateX(-150%);
    filter: drop-shadow(0 0 3px #eee312);
    animation: PopUp 1s ease forwards,floating 4s linear infinite;;
    animation-delay: 0s,4.5s;   
}
@keyframes PopUp {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
    
}
@keyframes floating {
    0%,100%{
        transform: translateY(0) translateX(-150%);
    }
    50% {
        transform: translateY(-8px) translateX(-150%);
    }
}

.imageSet1{

    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    left:  -150px;

}

.imageSet1 img:nth-child(2){

    left:  -170px;
    z-index: -2;
    scale: 0;
    animation-delay: .5s;
    

}
.imageSet1 img:nth-child(3){

    left:  180px;
    z-index: -2;
    scale: 0;
    animation-delay: 1s;
   
}
.imageSet1 img:nth-child(4){

    left:  -30px;
    z-index: -2;
    scale: 0;
    animation-delay: 1.5s;
 

}
.imageSet1 img:nth-child(5){

    left:  310px;
    z-index: -3;
    scale: 0;
    animation-delay: 2s;
   

}
.imageSet1 img:nth-child(6){

    left:  80px;
    top: -300px;
    z-index: -3;
    scale: 0;
    animation-delay: 2.5s;
  

}
.imageSet1 img:nth-child(7){
    height: 500px;
    left:  70px;
    top: -340px;
    z-index: -4;
    scale: 0;
    animation-delay: 3s;
   

}
.about{
    background: linear-gradient(35deg,#484848,70%,green);
   
}
.heading{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}



.heading span{
    color: #c6e046;
}

section.start-animation h2{
    animation: RightSlide 2s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}

.content .text h2{
        font-size: 32px;
        text-align: center;
        
}


@keyframes RightSlide {
    0%{
        transform: translateX(-120%);
        opacity: 0;
        filter: blur(1px);

    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        filter: blur(0);
    }
    
}

section.start-animation h3{
    animation: RightSlide 2s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}
.content .text h3{
    font-size: 22px;
    font-weight: 500;
}
section.start-animation p{
    animation: RightSlide 2s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}
.content .text p{
    max-width: 700px;
    font-size: 15px;
   
}

h3 span{
    color: #c6e046;  
}

.content img{    
    
    height: 500px;
    transform: translateX(-540%);
    
    
}
section.start-animation .content img{
    animation: leftSlide  3s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}

@keyframes leftSlide {
    0%{

        transform: translateX(-540px);
        opacity: 0;
    }
    100%{

        transform: translateX(0px);
        opacity: 1;
        
    }
}

.content {
    
    display: flex;
    align-items: center;
    justify-content: right;
    
    
}
.content img{   
  
    cursor: pointer;
    filter: drop-shadow(0 0 5px #e4e13e);
    height: 450px;
}
.content2 .text h2{
    font-size: 32px;
    text-align: center;
    

}

.content2 .text h3{
font-size: 22px;
font-weight: 500;

}
.content2 p{
max-width: 700px;
font-size: 15px;

}

h3 span{
color: #c6e046;  
}

.content2 img{    

height: 500px;

}
section.start-animation .content2 img{
    animation: leftSlide  3s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}

@keyframes leftSlide {
    0%{

        transform: translateX(-540px);
        opacity: 0;
    }
    100%{

        transform: translateX(0px);
        opacity: 1;
        
    }
}

.content2 {

display: flex;
align-items: center;
justify-content: center;


}
.content2 img{   

cursor: pointer;
filter: drop-shadow(0 0 3px #3eade4);
}

.content1 .text h2{
    font-size: 32px;
    text-align: center  ;
}
.content1 .text h3{
font-size: 22px;
font-weight: 500;
}
.content1  .text p{
max-width: 700px;
font-size: 15px;
}

h3 span{
color: #c6e046;  
}

.content1 img{    

height: 450px;

}

section.start-animation .content1 img{
    animation: leftSlide  3s ease forwards;
        transform: translateX(120%);
        transform-origin: right;
        opacity: 0;

}

@keyframes leftSlide {
    0%{

        transform: translateX(-540px);
        opacity: 0;
    }
    100%{

        transform: translateX(0px);
        opacity: 1;
        
    }
}

.content1 {

display: flex;
align-items: center;
justify-content: center;


}
.content1 img{   

cursor: pointer;
filter: drop-shadow(0 0 3px #e27900);
}


footer{
    padding-top: 10px;
    background: linear-gradient(#484848,green);
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}

h3{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;

}
a{
    text-decoration: none;
}
a:hover{
  color: #fcf006;   
}
.social-icons i:hover{
    color:#fcf006 ;
}

.buttom-bar{
 background: #fff ;
 text-align: center;
 padding: 10px 0;
 margin-top: 50px;
}
.buttom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}